@import "section/section";
@import "login";
@import "admin/dashboard";
@import "home/home";
@import "dashboard-content/dashboard-content";
@import "map/map";

.page-header {
    margin-bottom: 1rem;
}

.container-in {
    padding: 0 6rem;
}

.hoverable-link {
    display: inline;
    cursor: pointer;
    height: 100%;
}