@import "testimonial";
@import "svg_anim";

.intro-section {
    figure {
        width: 100%;

        img {
            width: 100%;

            @media #{$breakpoint-lg} {
                max-width: 300px;
            }
        }

        @media #{$breakpoint-lg} {

            margin-top: 3rem;

            img {
                max-width: 400px;
            }
        }
    }

    .intro-para {
        padding-left: 5rem;
        max-width: 780px;
        height: 100%;
        @include display-flex(flex);
        @include flex-direction-column(column);
        @include justify-content-center;

        @media #{$breakpoint-lg} {
            padding-left: 0;
        }
    }
}

.figures {
    max-width: 400px;
    margin: 0 auto;
}

.significance-section {
    .contents {
        padding-right: 3rem;

        @media #{$breakpoint-desktop} {
            padding-right: 2rem;
        }

        .common-title {
            margin-bottom: 25px;
            max-width: 650px;

            @media #{$breakpoint-desktop} {
                max-width: 550px;
            }
        }

        .para {
            p {
                &:not(:last-child) {
                    margin-bottom: 25px;

                    @media #{$breakpoint-desktop} {
                        margin-bottom: 20px;
                    }
                }
            }
        }



        ul.partners {
            @include display-flex(flex);
            @include align-items-start;

            @media #{$breakpoint-xxs} {
                @include flex-direction-column(column);
                @include justify-content-center;
                @include align-items-center;
            }

            margin-top: 80px;

            @media #{$breakpoint-desktop} {
                margin-top: 60px;
            }

            @media #{$breakpoint-md} {
                margin-top: 40px;
            }

            li.partner-list {
                @include display-flex(flex);
                @include flex-direction-column(column);

                &:not(:last-child) {
                    margin-right: 120px;

                    @media #{$breakpoint-desktop} {
                        margin-right: 90px;
                    }

                    @media #{$breakpoint-md} {
                        margin-right: 40px;
                    }

                    @media #{$breakpoint-xxs} {
                        margin-right: 0;
                    }
                }

                span.title {
                    font-size: .938rem;
                    font-weight: 700;
                    color: $heading-color;
                    display: block;
                    margin-bottom: 35px;

                    @media #{$breakpoint-desktop} {
                        font-size: .825rem;
                        margin-bottom: 25px;
                    }
                }

                .fig {
                    display: block;

                    img {
                        max-width: 150px;

                        @media #{$breakpoint-desktop} {
                            max-width: 120px;
                        }
                    }
                }
            }
        }

        ul {
            margin-top: 50px;

            @media #{$breakpoint-desktop} {
                margin-top: 35px;
            }

            li {
                &:not(:last-child) {
                    margin-bottom: 35px;

                    @media #{$breakpoint-desktop} {
                        margin-bottom: 25px;
                    }
                }

                @include display-flex(flex);

                @media #{$breakpoint-xxs} {
                    display: block;
                }

                figure {
                    max-width: 55px;
                    flex: 0 0 55px;

                    img {
                        width: 100%;
                    }

                    @media #{$breakpoint-desktop} {
                        max-width: 40px;
                        flex: 0 0 40px;
                    }

                    @media #{$breakpoint-lg} {
                        margin: 20px auto;
                    }
                }

                .list-info {
                    padding-left: 30px;

                    @media #{$breakpoint-lg} {
                        padding-left: 0;
                    }

                    h3 {
                        font-weight: 400;
                        margin-bottom: 12px;
                    }

                    @media #{$breakpoint-desktop} {
                        padding-left: 25px;

                        h3 {
                            margin-bottom: 8px;
                        }
                    }
                }
            }

            &.is-list {
                li {
                    margin: 0;
                    padding: .5rem 0;
                    padding-left: 2.5rem;
                    position: relative;
                    font-size: .875rem;

                    &:before {
                        content: "check_circle";
                        position: absolute;
                        left: 0;
                        top: 5px;
                        color: $secondary-color;
                        font-family: "Material Icons";
                        font-size: 1.4rem;
                    }

                    &:not(:last-child) {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .about-timeline {
            ul {
                li {
                    padding-left: 3rem;
                    position: relative;


                    &:not(:last-child) {
                        margin-bottom: 0;
                        padding-bottom: 2rem;
                    }

                    .timeline-content {
                        .timeline-header {
                            margin-bottom: .6125rem;

                            h5 {
                                text-transform: capitalize;
                            }

                            span {
                                padding: .25rem .6125rem;
                                background-color: $secondary-color;
                                @include radius(24px);
                                color: $white-color;
                                text-transform: uppercase;
                                font-size: .75rem;
                                margin-right: .5rem;

                                small {
                                    margin-right: .25rem;
                                    font-size: .775rem;
                                }
                            }
                        }

                        p {
                            font-size: .875rem;
                        }
                    }

                    &:before {
                        position: absolute;
                        top: 0;
                        left: 9.5px;
                        content: "";
                        height: 100%;
                        width: 2px;
                        border-left: 2px dashed $primary-color;
                    }

                    &:after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: "";
                        height: 20px;
                        width: 20px;
                        @include radius(50%);
                        background-color: $primary-color;
                    }

                    &:last-child {
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .picture-illustrtations {
        height: 100%;
        @include display-flex(flex);
        @include justify-content-center;
        @include align-items-center;

        @media #{$breakpoint-lg} {
            margin-top: 2rem;
        }

        @media #{$breakpoint-xxs} {
            @include flex-direction-column(column);
            text-align: center;
        }

        .left-picture-illust,
        .right-picture-illust {
            img {
                @include radius(18px);
            }
        }

        .right-picture-illust {
            flex: 0 0 60%;
            max-width: 60%;

            @media #{$breakpoint-desktop} {
                flex: 0 0 50%;
                max-width: 50%;
            }

            @media #{$breakpoint-xxs} {
                flex: 0 0 auto;
                max-width: 300px;
            }

            img {
                &:first-child {
                    margin-bottom: 20px;
                    max-width: 250px;

                    @media #{$breakpoint-sm} {
                        margin-bottom: 10px;
                    }
                }

                @media #{$breakpoint-xxs} {
                    display: block;
                }
            }
        }

        .left-picture-illust {
            padding-right: 20px;
            flex: 0 0 40%;
            max-width: 40%;

            @media #{$breakpoint-desktop} {
                flex: 0 0 50%;
                max-width: 50%;
            }

            @media #{$breakpoint-sm} {
                padding-right: 10px;
            }

            @media #{$breakpoint-xxs} {
                flex: 0 0 auto;
                max-width: 300px;
                padding-right: 0;
                padding-bottom: 10px;
            }
        }
    }

    &.timeline-section {
        .figures {
            img {
                max-width: 200px;
                margin-bottom: 1rem;
                max-height: 300px;
            }
        }


        .picture-illustrtations .right-picture-illust {
            .figures {
                img {
                    max-width: 200px;
                    margin-bottom: 1rem;
                    max-height: 310px;
                    width: auto !important;
                }
            }
        }
    }

}