.common-title{
    display: block;
    margin-bottom: 30px;
    max-width: 970px;
    @media #{$breakpoint-desktop}{
        margin-bottom: 25px;         
    }
    h1{
        font-size: $font-size-h1;
        color: $heading-color;
        font-weight: 400;
        span{
            text-transform: lowercase;
            &.italic{
                font-style: italic;
                color: $primary-color;
                text-transform: capitalize;
            }
        }
    }
    
    &.is-dark{
        h2{
            color: $heading-color;
            span{
                color: $primary-color;
            }
        }
    }
    &.is-center{
        @include flex-hr-center;
        text-align: center;
        max-width: 970px;
        margin:0 auto;
        margin-bottom: 3rem;
        @media #{$breakpoint-lg-desktop} {
            max-width:690px;
            margin-bottom: 2rem;
        }
        @media #{$breakpoint-desktop} {
            max-width: 600px;
            margin-bottom: 1.5rem;
        }
    }
}