.slider{
    position: relative;
    margin-bottom: 0 !important;
    .slick-dots{
        padding: 8px;
        @include display-flex(flex);
        @include justify-content-center;
        list-style: circle;
        bottom: -38px;
        li{
            @include radius(50%);
            width: 10px;
            height: 10px;
            background: $secondary-color;
            &.slick-active{
                background: darken($secondary-color, 10%);
                @include box-shadow(0 0 10px 1px $secondary-light);
            }
        }
    }

    .slick-prev,
    .slick-next{
        top: 100%;
        position: absolute !important;
        z-index: 11;
        width: 45px;
        height: 45px;
        @include radius(50%);
        border: 1px solid $white-color;
        // @include box-shadow(0 0 0 transparent);
        position: absolute;
        background: transparent;
        @include transition(all .3s ease);
        @media #{$breakpoint-desktop}{
            width: 35px;
            height: 35px        
        }
        &::before{
            font-family: "Material Icons";
            font-size: 25px;
            color: $white-color;
            @media #{$breakpoint-desktop}{
                font-size: 18px;        
            }
        }
        &:hover{
            background: $white-color;
            &::before{     
                 color: $primary-color;
            }
        }
       
    }
    .slick-prev{
        left: 0%;
        
        @media #{$breakpoint-lg}{
           left: 45%;
        }
        &::before{
            content: "keyboard_arrow_left";
        }
    }
    .slick-next{
        right: 85%;
        @media #{$breakpoint-lg}{
            right: 45%;
         }
        &::before{
            content: "keyboard_arrow_right";
        }
    }
    .slick-track{
        @include display-flex(flex);
        @include align-items-center;
    }
   
}