/* .map-page{
    height: 100vh;
    overflow: hidden;
} */
.infra-slider {
  ul {
    &.tab-list {
      max-width: 130px;
      @include radius(24px);
      background-color: $white-color;
      border: 1px solid $border-color;
      @include justify-content-start;
      margin-top: -13px;

      li {
        @include radius(24px);
        @include flex(0 0 50%);
        max-width: 50%;
        margin: 0;

        a {
          @include radius(24px);
          font-size: .875rem;
          padding: .35rem .875rem;
          width: 100%;
          color: $body-color;

          &.current {
            color: $secondary-color;
          }
        }
      }
    }
  }
}

.map-scroll {
  overflow: scroll;
  width: 350px;
  height: 50vh;
  background: $white-color;
  border: 1px solid $border-dark;
  z-index: 11;
  top: 0;
  left: 0;
  @include transition(all .4s ease);
}

.absolute {
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: orange;
  left: 350px;
}

.map-content {
  padding-top: 78px;
  min-height: 100vh;
  @include display-flex(flex);
  align-items: stretch;

  @media #{$breakpoint-md-desktop} {
    padding-top: 65px;
  }

  @media #{$breakpoint-md} {
    // height: initial;
    @include flex-direction-column(column);
  }

  .map-aside {
    width: 400px;
    background: $white-color;
    border: 1px solid $border-dark;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    padding-top: 78px;
    @include transition(all .4s ease);
    height: 100vh;
    @include animation(slowRevealation .4s ease);

    @media #{$breakpoint-lg-desktop} {
      width: 350px;
    }

    @media #{$breakpoint-desktop} {
      padding-top: 65px;
      width: 300px;
    }

    @media #{$breakpoint-md} {
      order: 2;
      padding-top: 10px;
      width: 100%;
      height: auto;
      position: relative;
      border: 0;
      display: block;
    }

    &.active {
      margin-left: -420px;
    }

  }

  .map-content-wrap {
    width: calc(100% - 400px);
    margin-left: 400px;
    position: relative;
    z-index: 1;
    @include transition(all .4s ease);
    @include animation(slowRevealation .4s ease);

    @media #{$breakpoint-lg-desktop} {
      width: calc(100% - 360px);
      margin-left: 360px;
    }

    @media #{$breakpoint-desktop} {
      width: calc(100% - 300px);
      margin-left: 300px;
    }

    @media #{$breakpoint-md} {
      width: calc(100% - 0px);
      margin-left: 0;
      order: 1;

      .map-body {
        display: none;
      }
    }

    &.active {
      margin-left: 0px;
      width: 100%;
    }

  }

  @media #{$breakpoint-md} {
    &.toggle-card-body {
      @include flex-direction-row(row);

      .map-aside {
        display: none !important;
      }

      .map-content-wrap {
        .map-body {
          display: block;

          .map-container {
            display: none;
          }

          .infrastructure-item-details {
            &.active {
              display: block;
              position: absolute;
              width: 100%;
              height: auto;
              z-index: 1111;
              top: 0;
              left: 0;
              background: $white-color;
              border-left: 0;
            }
          }
        }
      }
    }

    &.toggle-map-body {
      @include flex-direction-row(row);

      .map-aside {
        display: none;
      }

      .map-content-wrap {
        .map-body {
          display: block;
        }
      }
    }
  }
}


.ol-popup {
  position: absolute;
  background-color: $white-color;
  bottom: 25px;
  left: 19%;
  @include transform(translateX(-19%));
  max-width: 280px;
  min-width: 280px;
  padding: 1rem;
  @include radius(10px);
  width: 100%;
  @include box-shadow(0 15px 50px rgba($heading-color, .16));

  &::before {
    content: '';
    border-style: solid;
    position: absolute;
    border-color: $white-color transparent;
    border-width: 0 10px 10px;
    bottom: -9px;
    position: absolute;
    pointer-events: none;
    left: 50%;
    @include transform(translateX(-50%));
    @include transform (rotate(180deg));
  }

  img {
    @include radius(10px);
    margin-bottom: 10px;
  }

  .pStyle {
    text-align: left;

    h5 {
      font-size: 1.2rem;
      text-transform: capitalize;
      font-weight: 600;
    }

    span {
      color: $body-color;
      font-weight: 500;
      text-transform: capitalize;
    }
  }


}


a {
  color: $secondary-color;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-closer:after {
  content: '✖';
}

/* .ol-popup-closer:hover {
   background-color: #3531ec7e;
} */
.overlay-container {
  background-color: #00994c;
  widows: 150px;
  color: #0000;
  text-align: center;
  font-size: small;
  font-weight: bold;
  border-radius: 1px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  bottom: 5%;
  left: 10%;
  margin-left: -100px;
}



/*# sourceMappingURL=style.css.map */
.ol-zoom-in {
  width: 30px;
  height: 30px;
  background-color: rgb(250, 240, 240);
  color: black;
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-left: 5px;
  margin-top: 5px;
  border: 2px solid #ccc;
}

.ol-zoom-out {
  background-color: rgb(250, 240, 240);
  margin-left: 5px;
  width: 30px;
  height: 30px;
  color: black;
  font-size: 18px;
  font-weight: 500;
  border: 2px solid #ccc;
}


@import "map-aside";
@import "map-body";