.slider{
    position: relative;
    margin-bottom: 0 !important;
    .slick-dots{
        padding: 8px;
        @include display-flex(flex);
        @include justify-content-center;
        list-style: circle;
        bottom: -38px;
        li{
            @include radius(50%);
            width: 10px;
            height: 10px;
            background: $secondary-color;
            &.slick-active{
                background: darken($secondary-color, 10%);
                @include box-shadow(0 0 10px 1px $secondary-light);
            }
        }
    }

    .slick-prev,
    .slick-next{
        top: 50%;
        position: absolute !important;
        z-index: 11;
        width: 30px;
        height: 60px;
        @include box-shadow(0 0 0 transparent);
        position: absolute;
        background: transparent;
        @include transition(all .3s ease);
        @media #{$breakpoint-lg-desktop}{
            width: 20px;        
        }
        &::before{
            font-family: "Material Icons";
            font-size: 30px;
            color: $primary-color;
            @media #{$breakpoint-lg-desktop}{
                font-size: 20px;        
            }
        }
        &:hover{
            &::before{     
                 color: $secondary-color;
            }
        }
       
    }
    .slick-prev{
        left: 0;
        &::before{
            content: "keyboard_arrow_left";
        }
    }
    .slick-next{
        right: 0;
        &::before{
            content: "keyboard_arrow_right";
        }
    }
    .slick-track{
        @include display-flex(flex);
        @include align-items-center;
    }
   
}