@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,500i,600,600i,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
// $body-fonts:'Open Sans', sans-serif;
// $heading-fonts:'Montserrat', sans-serif;

$body-fonts: 'Raleway', sans-serif;
$heading-fonts:'Castoro', serif;
$body-fonts-secondary: 'Montserrat', sans-serif;
$logo-fonts: 'Oswald', sans-serif;


$font-size-h1-title:           3.438rem; //60px
$font-size-h1:               3.438rem ;//60px
$font-size-h2:                 1.25rem !default; //20px
$font-size-h3:                 1.125rem; //18px
$font-size-h4:                 1rem !default;//16px
$font-size-h5:                 .938rem !default; //15px
$font-size-h6:                 0.875rem !default; //14px;
$font-paragraph:               14px !default;
$font-size-navbar:             16px !default;
$font-size-small:              12px !default;

