.banner {
    position: relative;
    @include transition(all .4s ease);
    &.full-height-banner{
        position: relative;
       
        background-position: 100% 75%;
        @include transition(all .4s ease);
    }
    &.overlay {
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            // background-image: url('../../img/section-shape/right-bottom-shape.png');
            @include contain(right top);
            // z-index: 999;
            @media #{$breakpoint-lg}{
                display: none;
            }
        }
    }
    &.sm-banner{
        min-height: 280px;
        .banner-caption{
            @include transform(translateY(-10%));
        }
        @media #{$breakpoint-lg-desktop}{
           min-height: 235px;       
        }
        @media #{$breakpoint-sm}{
            min-height: 300px;
            /* .banner-caption{
                padding-top: 80px;
            } */
        }
    }
    
    &.is-primary{
        -webkit-background-image: linear-gradient(100deg , $primary-color, $primary-dark);
        background-image: linear-gradient(100deg , $primary-color, $primary-dark);
    }
    .banner-center{
        @include display-flex(flex);
        @include align-items-center;
        @include justify-content-start;
        width: 100%;
        height: 100%;
    }
    .banner-caption{
        position: relative;
        width: 100%;
        height: 90%;
        top: 8rem !important;
        @include contain(right);
        @media #{$breakpoint-lg-desktop}{
            top: 7rem !important;
        }
        .caption-content{
            position: relative;
            max-width: 860px;
            top: 80px;
            width: 100%;
            height: 80%;
            @media #{$breakpoint-lg-desktop}{
                top: 40px;
            }
            @media #{$breakpoint-desktop}{
                max-width: 700px;
                top: 30px;
            }
            h1{
                font-size: 3.75rem; //64px
                color: $heading-color;
                font-weight: 400;
                padding-bottom: 40px;
                line-height: 64px;
                text-transform: capitalize;
                max-width: 700px;
                @media #{$breakpoint-desktop}{
                    font-size: 2.85rem;
                    max-width: 500px;
                    line-height: 50px;
                }
                span{
                    &.sm{
                        text-transform: lowercase;
                    }
                    &.italic{
                        font-style: italic;
                        color: $primary-color;
                        text-transform: capitalize;
                    }
                }
            }
            p{
                max-width: 690px;
                font-size: 1.25rem; 
                line-height: 30px;
                color: $heading-color;
                @media #{$breakpoint-desktop}{
                    font-size: 1rem;
                    line-height: 25px;
                    max-width: 550px;
                }
            }
            .buttons{
                padding-top: 180px;
                @media #{$breakpoint-lg-desktop}{
                    padding-top: 150px;
                }
                @media #{$breakpoint-desktop}{
                    padding-top: 100px;
                }
            }
        }
    }

}