.table {
  width: 100%;
  margin-bottom: 1rem;
  color: $body-color;
  @include radius(10px);
  &.is-border {
    border: 1px solid $border-light;
  }
}
.table td,
.table th {
  border-bottom: 1px solid $border-light;
  padding: 0.5rem 1rem;
  vertical-align: middle;
  background: transparent;
  @include transition(all 0.4s ease);
}
.table thead th {
  //   vertical-align: bottom;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid $border-light;
  background-color: $bg-color;
  color: $heading-color;
  font-weight: 600;
  text-transform: capitalize;
}
.table tbody {
  td {
    &.name {
      font-weight: 700;
      color: $heading-color;
      text-transform: capitalize;
    }
    &.Location {
      text-transform: capitalize;
    }
  }
}
/* .table tbody + tbody {
    border-top: 2px solid $border-color;
} */
.table thead.table-pagination th {
  background: $bg-color;
  padding: 0.25rem 1rem;
  color: $body-color;
}
.table-sm td,
.table-sm th {
  padding: 0.15rem 1rem;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid $border-light;
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}
@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-md > .table-bordered {
    border: 0;
  }
}
@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-lg > .table-bordered {
    border: 0;
  }
}
@media (max-width: 1440px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-xl > .table-bordered {
    border: 0;
  }
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table-responsive > .table-bordered {
  border: 0;
}
